@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body{
    background-color: #C9DABF;
}
.navbar{
    background-color: #5F6F65;
    /* padding: 4rem; */
    font-family: "Josefin Sans", sans-serif;
}
.nav-link{
    color: antiquewhite; 
    /* padding-left:1rem ;    */
    font-size: 20px;
}
#app{
  
}

.btn{
    background-color: white;
    outline-color: black;
    background-color: antiquewhite;
}
.navbar-brand{
    font-family: "Josefin Sans", sans-serif;
    color: antiquewhite;
}
.footer{
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    
    background-color: #808D7C;
    color: antiquewhite;
}
.footerlinks{
    font-size: 2rem;
}
.head{
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    color: #5F6F65;
    font-size: 6.9rem;
}
.logo{
    height: 20rem;
}
.text2{
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    color: #5F6F65;
}
.art{
    height: 35rem;
    padding: 5rem;
    border: rem solid #ffffff;
}
H2{
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    font-size: 3rem;
    color: #5F6F65;
}

p1{
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    font-size: 20px;
    color: #5F6F65;
}
